.text-type {
  display: inline-flex;
  align-items: center;
  white-space: pre-wrap;
  min-height: 3rem;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
